<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CnfCreationdMapper">

    <resultMap type="CnfCreationd" id="CnfCreationdResult">
        <result property="id"    column="id"    />
        <result property="headImage"    column="head_image"    />
        <result property="creationName"    column="creation_name"    />
        <result property="linkAddr"    column="link_addr"    />
        <result property="creationInfo"    column="creation_info"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCnfCreationdVo">
        select id, head_image, creation_name, link_addr, creation_info, created_by, created_time, updated_by, updated_time from cnf_creationd
    </sql>

    <select id="selectSerachCreationdList" parameterType="CreationdQuery" resultMap="CnfCreationdResult">
        <include refid="selectCnfCreationdVo"/>
        <where>
            <if test="creationName != null  and creationName != ''"> and creation_name like concat('%', #{creationName}, '%')</if>
        </where>
    </select>

</mapper>
