<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntActionTarMapper">

    <resultMap type="CntActionTar" id="CntActionTarResult">
        <result property="id"    column="id"    />
        <result property="actionId"    column="action_id"    />
        <result property="releaseNum"    column="release_num"    />
        <result property="deleteNum"    column="delete_num"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="collectionImage"    column="collection_image"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntActionTarVo">
        select id, action_id, release_num, delete_num, collection_id, collection_image, collection_name, created_by, created_time, updated_by, updated_time from cnt_action_tar
    </sql>

    <select id="selectCntActionTarList" parameterType="CntActionTar" resultMap="CntActionTarResult">
        <include refid="selectCntActionTarVo"/>
        <where>
            <if test="actionId != null  and actionId != ''"> and action_id = #{actionId}</if>
            <if test="releaseNum != null "> and release_num = #{releaseNum}</if>
            <if test="deleteNum != null "> and delete_num = #{deleteNum}</if>
            <if test="collectionId != null  and collectionId != ''"> and collection_id = #{collectionId}</if>
            <if test="collectionImage != null  and collectionImage != ''"> and collection_image = #{collectionImage}</if>
            <if test="collectionName != null  and collectionName != ''"> and collection_name like concat('%', #{collectionName}, '%')</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>

    <select id="selectCntActionTarById" parameterType="String" resultMap="CntActionTarResult">
        <include refid="selectCntActionTarVo"/>
        where id = #{id}
    </select>

    <insert id="insertCntActionTar" parameterType="CntActionTar">
        insert into cnt_action_tar
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="actionId != null">action_id,</if>
            <if test="releaseNum != null">release_num,</if>
            <if test="deleteNum != null">delete_num,</if>
            <if test="collectionId != null">collection_id,</if>
            <if test="collectionImage != null">collection_image,</if>
            <if test="collectionName != null">collection_name,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="actionId != null">#{actionId},</if>
            <if test="releaseNum != null">#{releaseNum},</if>
            <if test="deleteNum != null">#{deleteNum},</if>
            <if test="collectionId != null">#{collectionId},</if>
            <if test="collectionImage != null">#{collectionImage},</if>
            <if test="collectionName != null">#{collectionName},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <insert id="insertCntActionTars">
        insert into cnt_action_tar
        (
            id,
            action_id,
            release_num,
            delete_num,
            collection_id,
            collection_name,
            collection_image,
            created_by,
            created_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.actionId},
            #{item.releaseNum},
            #{item.deleteNum},
            #{item.collectionId},
            #{item.collectionName},
            #{item.collectionImage},
            #{item.createdBy},
            #{item.createdTime}
            )
        </foreach>
    </insert>

    <update id="updateCntActionTar" parameterType="CntActionTar">
        update cnt_action_tar
        <trim prefix="SET" suffixOverrides=",">
            <if test="actionId != null">action_id = #{actionId},</if>
            <if test="releaseNum != null">release_num = #{releaseNum},</if>
            <if test="deleteNum != null">delete_num = #{deleteNum},</if>
            <if test="collectionId != null">collection_id = #{collectionId},</if>
            <if test="collectionImage != null">collection_image = #{collectionImage},</if>
            <if test="collectionName != null">collection_name = #{collectionName},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCntActionTarById">
        delete from cnt_action_tar
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="actionId != null  and actionId != ''"> and action_id = #{actionId}</if>
        </where>
    </delete>

    <delete id="deleteCntActionTarByIds" parameterType="String">
        delete from cnt_action_tar where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
