<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntActionMapper">

    <resultMap type="CntAction" id="CntActionResult">
        <result property="id"    column="id"    />
        <result property="actionTitle"    column="action_title"    />
        <result property="actionImage"    column="action_image"    />
        <result property="actionStatus"    column="action_status"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="ruleContent"    column="rule_content"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntActionVo">
        select id, action_title, action_image, action_status, start_time, end_time, collection_id, rule_content, created_by, created_time, updated_by, updated_time from cnt_action
    </sql>

    <select id="selectSearchActionList" parameterType="ActionQuery" resultMap="CntActionResult">
        <include refid="selectCntActionVo"/>
        <where>
            <if test="actionTitle != null  and actionTitle != ''"> and action_title like concat('%', #{actionTitle}, '%')</if>
            <if test="actionStatus != null "> and action_status = #{actionStatus}</if>
        </where>
    </select>

</mapper>
