<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntAirdropRecordMapper">

    <resultMap type="CntAirdropRecord" id="CntAirdropRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="deliveryType"    column="delivery_type"    />
        <result property="deliveryStatus"    column="delivery_status"    />
        <result property="deliveryInfo"    column="delivery_info"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntAirdropRecordVo">
        select id, user_id, nick_name, user_phone, goods_id, goods_name, goods_type, delivery_type, delivery_status, delivery_info, created_by, created_time, updated_by, updated_time from cnt_airdrop_record
    </sql>

    <select id="selectCntAirdropRecordList" parameterType="AirdropRecordQuery" resultMap="CntAirdropRecordResult">
        <include refid="selectCntAirdropRecordVo"/>
        <where>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="userPhone != null  and userPhone != ''"> and user_phone = #{userPhone}</if>
            <if test="deliveryStatus != null"> and delivery_status = #{deliveryStatus}</if>
            <if test="deliveryType != null"> and delivery_type = #{deliveryType}</if>
            <if test="goodsType != null"> and goods_type = #{goodsType}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
        </where>
        order by created_time desc
    </select>

</mapper>
