<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntActionCollectionMapper">

    <resultMap type="CntActionCollection" id="CntActionCollectionResult">
        <result property="id"    column="id"    />
        <result property="actionId"    column="action_id"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="tranSvg"    column="tran_svg"    />
        <result property="actionQuantity"    column="action_quantity"    />
        <result property="actionNumber"    column="action_number"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntActionCollectionVo">
        select id, action_id, collection_id, tran_svg, action_quantity, action_number, created_by, created_time, updated_by, updated_time from cnt_action_collection
    </sql>

    <select id="selectCntActionCollectionList" parameterType="ActionCollectionQuery" resultMap="CntActionCollectionResult">
        <include refid="selectCntActionCollectionVo"/>
        <where>
            <if test="actionId != null  and actionId != ''"> and action_id = #{actionId}</if>
        </where>
        order by created_time desc
    </select>

    <select id="totalQuantity" resultType="com.manyun.admin.domain.dto.ActionCollectionDto">
        select
        action_id actionId,
        sum( action_quantity ) totalQuantity
        from
        cnt_action_collection
        where
        action_id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by
        action_id
    </select>

</mapper>
