<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntActionRecordMapper">

    <resultMap type="CntActionRecord" id="CntActionRecordResult">
        <result property="id"    column="id"    />
        <result property="actionId"    column="action_id"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntActionRecordVo">
        select id, action_id, collection_id, collection_name, created_by, created_time, updated_by, updated_time from cnt_action_record
    </sql>

    <select id="selectCntActionRecordList" parameterType="ActionRecordQuery" resultType="CntActionRecordVo">
        select
            ca.action_title,
            ca.action_image,
            ca.action_status,
            ca.start_time,
            ca.end_time,
            car.nick_name,
            car.collection_name
        from
            cnt_action_record car
        inner join  cnt_action ca on car.action_id = ca.id
        <where>
            <if test="actionTitle != null  and actionTitle != ''"> and ca.action_title like concat('%', #{actionTitle}, '%')</if>
        </where>
    </select>

</mapper>
