<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntActionTarMapper">

    <resultMap type="CntActionTar" id="CntActionTarResult">
        <result property="id"    column="id"    />
        <result property="actionId"    column="action_id"    />
        <result property="releaseNum"    column="release_num"    />
        <result property="deleteNum"    column="delete_num"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="collectionImage"    column="collection_image"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntActionTarVo">
        select id, action_id, release_num, delete_num, collection_id, collection_image, collection_name, created_by, created_time, updated_by, updated_time from cnt_action_tar
    </sql>

    <select id="selectSearchActionTarList" parameterType="ActionTarQuery" resultMap="CntActionTarResult">
        <include refid="selectCntActionTarVo"/>
        <where>
            <if test="actionId != null  and actionId != ''"> and action_id = #{actionId}</if>
        </where>
        order by created_time desc
    </select>

</mapper>
