<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntBannerMapper">

    <resultMap type="CntBanner" id="CntBannerResult">
        <result property="id"    column="id"    />
        <result property="bannerTitle"    column="banner_title"    />
        <result property="bannerImage"    column="banner_image"    />
        <result property="bannerInfo"    column="banner_info"    />
        <result property="bannerType"    column="banner_type"    />
        <result property="jumpLink"    column="jump_link"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntBannerVo">
        select id, banner_title, banner_image, banner_info, banner_type, jump_link, created_by, created_time, updated_by, updated_time from cnt_banner
    </sql>

    <select id="selectCntBannerList" parameterType="CntBanner" resultMap="CntBannerResult">
        <include refid="selectCntBannerVo"/>
        <where>
            <if test="bannerTitle != null  and bannerTitle != ''"> and banner_title = #{bannerTitle}</if>
            <if test="bannerImage != null  and bannerImage != ''"> and banner_image = #{bannerImage}</if>
            <if test="bannerInfo != null  and bannerInfo != ''"> and banner_info = #{bannerInfo}</if>
            <if test="bannerType != null "> and banner_type = #{bannerType}</if>
            <if test="jumpLink != null  and jumpLink != ''"> and jump_link = #{jumpLink}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
        order by created_time desc
    </select>

</mapper>
