<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntBoxCollectionMapper">

    <resultMap type="CntBoxCollection" id="CntBoxCollectionResult">
        <result property="id"    column="id"    />
        <result property="boxId"    column="box_id"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="sourcePrice"    column="source_price"    />
        <result property="tranSvg"    column="tran_svg"    />
        <result property="flagScore"    column="flag_score"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntBoxCollectionVo">
        select id, box_id, collection_id, collection_name, source_price, tran_svg, flag_score, created_by, created_time, updated_by, updated_time from cnt_box_collection
    </sql>

    <select id="selectCntBoxCollectionList" parameterType="CntBoxCollection" resultMap="CntBoxCollectionResult">
        <include refid="selectCntBoxCollectionVo"/>
        <where>
            <if test="boxId != null  and boxId != ''"> and box_id = #{boxId}</if>
            <if test="collectionId != null  and collectionId != ''"> and collection_id = #{collectionId}</if>
            <if test="collectionName != null  and collectionName != ''"> and collection_name like concat('%', #{collectionName}, '%')</if>
            <if test="sourcePrice != null "> and source_price = #{sourcePrice}</if>
            <if test="tranSvg != null "> and tran_svg = #{tranSvg}</if>
            <if test="flagScore != null  and flagScore != ''"> and flag_score = #{flagScore}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>

    <select id="selectCntBoxCollectionById" parameterType="String" resultMap="CntBoxCollectionResult">
        <include refid="selectCntBoxCollectionVo"/>
        where id = #{id}
    </select>

    <insert id="insertCntBoxCollection" parameterType="CntBoxCollection">
        insert into cnt_box_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="boxId != null">box_id,</if>
            <if test="collectionId != null">collection_id,</if>
            <if test="collectionName != null">collection_name,</if>
            <if test="sourcePrice != null">source_price,</if>
            <if test="tranSvg != null">tran_svg,</if>
            <if test="flagScore != null">flag_score,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="boxId != null">#{boxId},</if>
            <if test="collectionId != null">#{collectionId},</if>
            <if test="collectionName != null">#{collectionName},</if>
            <if test="sourcePrice != null">#{sourcePrice},</if>
            <if test="tranSvg != null">#{tranSvg},</if>
            <if test="flagScore != null">#{flagScore},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <insert id="insertCntBoxCollectionList">
        insert into cnt_box_collection
        (
        id,
        box_id,
        collection_id,
        collection_name,
        source_price,
        tran_svg,
        flag_score,
        created_by,
        created_time
        )
        values
        <foreach collection="cntBoxCollectionList" item="item" separator=",">
            (
                #{item.id},
                #{item.boxId},
                #{item.collectionId},
                #{item.collectionName},
                #{item.sourcePrice},
                #{item.tranSvg},
                #{item.flagScore},
                #{item.createdBy},
                #{item.createdTime}
            )
        </foreach>
    </insert>

    <update id="updateCntBoxCollection" parameterType="CntBoxCollection">
        update cnt_box_collection
        <trim prefix="SET" suffixOverrides=",">
            <if test="boxId != null">box_id = #{boxId},</if>
            <if test="collectionId != null">collection_id = #{collectionId},</if>
            <if test="collectionName != null">collection_name = #{collectionName},</if>
            <if test="sourcePrice != null">source_price = #{sourcePrice},</if>
            <if test="tranSvg != null">tran_svg = #{tranSvg},</if>
            <if test="flagScore != null">flag_score = #{flagScore},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCntBoxCollectionById" parameterType="String">
        delete from cnt_box_collection where id = #{id}
    </delete>

    <delete id="deleteCntBoxCollectionByIds" parameterType="String">
        delete from cnt_box_collection where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
