<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntBannerMapper">

    <resultMap type="CntBanner" id="CntBannerResult">
        <result property="id"    column="id"    />
        <result property="bannerTitle"    column="banner_title"    />
        <result property="bannerImage"    column="banner_image"    />
        <result property="bannerInfo"    column="banner_info"    />
        <result property="bannerType"    column="banner_type"    />
        <result property="jumpLink"    column="jump_link"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntBannerVo">
        select id, banner_title, banner_image, banner_info, banner_type, jump_link, created_by, created_time, updated_by, updated_time from cnt_banner
    </sql>

    <select id="selectCntBannerList" parameterType="CntBanner" resultType="com.manyun.admin.domain.vo.CntBannerVo">
        SELECT
        b.id,
        b.banner_title bannerTitle,
        b.banner_image bannerImage,
        b.banner_info bannerInfo,
        b.banner_type bannerType,
        b.jump_link jumpLink,
        bjl.link_name jumpLinkName,
        b.created_time createdTime,
        b.updated_time updatedTime
        FROM
        cnt_banner b
        LEFT JOIN cnt_banner_jump_link bjl ON b.jump_link = bjl.link_code
        order by b.created_time desc
    </select>

</mapper>
