<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntBoxMapper">

    <resultMap type="CntBox" id="CntBoxResult">
        <result property="id"    column="id"    />
        <result property="cateId"    column="cate_id"    />
        <result property="postTime"    column="post_time"    />
        <result property="tarId"    column="tar_id"    />
        <result property="boxTitle"    column="box_title"    />
        <result property="selfBalance"    column="self_balance"    />
        <result property="balance"    column="balance"    />
        <result property="boxOpen"    column="box_open"    />
        <result property="statusBy"    column="status_by"    />
        <result property="boxInfo"    column="box_info"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="sourcePrice"    column="source_price"    />
        <result property="realPrice"    column="real_price"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntBoxVo">
        select id, cate_id, post_time, tar_id, box_title, self_balance, balance, box_open, status_by, box_info, publish_time, source_price, real_price, created_by, created_time, updated_by, updated_time from cnt_box
    </sql>

    <select id="selectSearchBoxList" parameterType="BoxQuery" resultMap="CntBoxResult">
        <include refid="selectCntBoxVo"/>
        <where>
            <if test="boxOpen != null "> and box_open = #{boxOpen}</if>
            <if test="statusBy != null "> and status_by = #{statusBy}</if>
            <if test="publishTime != null "> and publish_time = #{publishTime}</if>
        </where>
    </select>

    <select id="boxOrderList" parameterType="OrderQuery" resultType="com.manyun.admin.domain.vo.CntBoxOrderVo">
        select
            o.id,
            o.user_id userId,
            o.order_no orderNo,
            o.bui_id buiId,
            o.order_status orderStatus,
            b.source_price sourcePrice,
            b.real_price realPrice,
            o.order_amount orderAmount,
            o.created_time createdTime,
            o.updated_time updatedTime
        from
	        cnt_order o
	    left join
	        cnt_box b
	    on o.bui_id = b.id
	    where o.goods_type=1
        <if test="orderNo != null  and orderNo != ''"> and o.order_no = #{orderNo}</if>
        <if test="userId != null  and userId != ''"> and o.user_id = #{userId}</if>
        <if test="orderStatus != null "> and o.order_status = #{orderStatus}</if>
    </select>

</mapper>
