<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntConsignmentMapper">

    <resultMap type="CntConsignment" id="CntConsignmentResult">
        <result property="id"    column="id"    />
        <result property="buiName"    column="bui_name"    />
        <result property="buiId"    column="bui_id"    />
        <result property="cateId"    column="cate_id"    />
        <result property="realBuiId"    column="real_bui_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="isType"    column="is_type"    />
        <result property="serverCharge"    column="server_charge"    />
        <result property="consignmentPrice"    column="consignment_price"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="payUserId"    column="pay_user_id"    />
        <result property="toPay"    column="to_pay"    />
        <result property="consignmentStatus"    column="consignment_status"    />
        <result property="formInfo"    column="form_info"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntConsignmentVo">
        select id, bui_name, bui_id, cate_id, real_bui_id, order_id, is_type, server_charge, consignment_price, send_user_id, pay_user_id, to_pay, consignment_status, form_info, created_by, created_time, updated_by, updated_time from cnt_consignment
    </sql>

    <select id="selectOrderList" resultType="com.manyun.admin.domain.vo.CntConsignmentVo">
        select
            js.id,
            js.consignment_status consignmentStatus,
            js.is_type isType,
            cs.nick_name collectorName,
            cs.phone collectorPhone,
            mr.nick_name sellerName,
            mr.phone sellerPhone,
            o.pay_type payType,
            o.order_amount orderAmount,
            o.created_time createOrderTime,
            o.pay_time payTime
        from
	        cnt_consignment js
        left join
	        cnt_user cs
        on js.send_user_id=cs.user_id
        left join
	        cnt_user mr
        on js.pay_user_id=mr.user_id
        left join
	        cnt_order o
        on js.order_id=o.order_no
        <where>
            <if test="id != null  and id != ''"> and js.id = #{id}</if>
            <if test="collectorPhone != null  and collectorPhone != ''"> and cs.phone = #{collectorPhone}</if>
            <if test="collectorUserId != null and  collectorUserId != ''"> and cs.user_id = #{collectorUserId}</if>
            <if test="collectorName != null  and collectorName != ''"> and cs.nick_name like concat('%', #{collectorName}, '%')</if>
            <if test="buiName != null  and buiName != ''"> and js.bui_name like concat('%', #{buiName}, '%')</if>
            <if test="isType != null"> and js.is_type = #{isType}</if>
            <if test="consignmentStatus != null  and consignmentStatus != ''"> and js.consignment_status = #{consignmentStatus}</if>
            <if test="sellerName != null  and sellerName != ''"> and mr.nick_name like concat('%', #{sellerName}, '%')</if>
            <if test="payType != null  and payType != ''"> and o.pay_type = #{payType}</if>
            <if test="createOrderTime != null  and createOrderTime != ''"> and o.created_time = #{createOrderTime}</if>
        </where>
    </select>

</mapper>
