<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntConsignmentMapper">

    <resultMap type="CntConsignment" id="CntConsignmentResult">
        <result property="id"    column="id"    />
        <result property="buiName"    column="bui_name"    />
        <result property="buiId"    column="bui_id"    />
        <result property="cateId"    column="cate_id"    />
        <result property="realBuiId"    column="real_bui_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="isType"    column="is_type"    />
        <result property="serverCharge"    column="server_charge"    />
        <result property="consignmentPrice"    column="consignment_price"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="payUserId"    column="pay_user_id"    />
        <result property="toPay"    column="to_pay"    />
        <result property="consignmentStatus"    column="consignment_status"    />
        <result property="formInfo"    column="form_info"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntConsignmentVo">
        select id, bui_name, bui_id, cate_id, real_bui_id, order_id, is_type, server_charge, consignment_price, send_user_id, pay_user_id, to_pay, consignment_status, form_info, created_by, created_time, updated_by, updated_time from cnt_consignment
    </sql>

    <select id="selectCollectionOrderList" resultType="com.manyun.admin.domain.vo.CntConsignmentVo">
        select
        js.id,
        js.is_type isType,
        js.bui_name buiName,
        js.consignment_price consignmentPrice,
        js.server_charge serverCharge,
        js.consignment_status consignmentStatus,
        js.to_pay toPay,
        cuc.collection_hash collectionHash,
        cs.nick_name collectorName,
        cs.phone collectorPhone,
        mr.nick_name sellerName,
        mr.phone sellerPhone,
        o.pay_type payType,
        o.order_amount orderAmount,
        o.created_time createOrderTime,
        o.pay_time payTime
        from
        cnt_consignment js
        left join
        cnt_user cs
        on js.send_user_id=cs.id
        left join
        cnt_user mr
        on js.pay_user_id=mr.id
        left join
        cnt_order o
        on js.order_id=o.id
        left join
        cnt_user_collection cuc
        on js.bui_id=cuc.id
        <where>
            and js.is_type=0
            <if test="id != null  and id != ''"> and js.id = #{id}</if>
            <if test="buiName != null  and buiName != ''"> and js.bui_name like concat('%', #{buiName}, '%')</if>
            <if test="consignmentStatus != null  and consignmentStatus != ''"> and js.consignment_status = #{consignmentStatus}</if>
            <if test="collectorName != null  and collectorName != ''"> and cs.nick_name like concat('%', #{collectorName}, '%')</if>
            <if test="collectorPhone != null  and collectorPhone != ''"> and cs.phone = #{collectorPhone}</if>
            <if test="sellerName != null  and sellerName != ''"> and mr.nick_name like concat('%', #{sellerName}, '%')</if>
            <if test="sellerPhone != null  and sellerPhone != ''"> and mr.phone = #{sellerPhone}</if>
            <if test="payType != null"> and o.pay_type = #{payType}</if>
            <if test="toPay != null"> and js.to_pay = #{toPay}</if>
        </where>
        order by js.created_time desc
    </select>

    <select id="selectBoxOrderList" resultType="com.manyun.admin.domain.vo.CntConsignmentVo">
        select
            js.id,
            js.is_type isType,
            js.bui_name buiName,
            js.consignment_price consignmentPrice,
            js.server_charge serverCharge,
            js.consignment_status consignmentStatus,
            js.to_pay toPay,
            cs.nick_name collectorName,
            cs.phone collectorPhone,
            mr.nick_name sellerName,
            mr.phone sellerPhone,
            o.pay_type payType,
            o.order_amount orderAmount,
            o.created_time createOrderTime,
            o.pay_time payTime
        from
        cnt_consignment js
        left join
        cnt_user cs
        on js.send_user_id=cs.id
        left join
        cnt_user mr
        on js.pay_user_id=mr.id
        left join
        cnt_order o
        on js.order_id=o.id
        <where>
            and js.is_type=1
            <if test="id != null  and id != ''"> and js.id = #{id}</if>
            <if test="buiName != null  and buiName != ''"> and js.bui_name like concat('%', #{buiName}, '%')</if>
            <if test="consignmentStatus != null  and consignmentStatus != ''"> and js.consignment_status = #{consignmentStatus}</if>
            <if test="collectorName != null  and collectorName != ''"> and cs.nick_name like concat('%', #{collectorName}, '%')</if>
            <if test="collectorPhone != null  and collectorPhone != ''"> and cs.phone = #{collectorPhone}</if>
            <if test="sellerName != null  and sellerName != ''"> and mr.nick_name like concat('%', #{sellerName}, '%')</if>
            <if test="sellerPhone != null  and sellerPhone != ''"> and mr.phone = #{sellerPhone}</if>
            <if test="payType != null"> and o.pay_type = #{payType}</if>
            <if test="toPay != null"> and js.to_pay = #{toPay}</if>
        </where>
        order by js.created_time desc
    </select>

    <select id="selectConsignmentOrderById" parameterType="com.manyun.admin.domain.dto.ConsignmentInfoDto" resultType="com.manyun.admin.domain.vo.CntConsignmentVo">
        select
            js.id,
            js.is_type isType,
            js.bui_id buiId,
            js.bui_name buiName,
            js.consignment_price consignmentPrice,
            js.server_charge serverCharge,
            js.consignment_status consignmentStatus,
            js.to_pay toPay,
            cs.nick_name collectorName,
            cs.phone collectorPhone,
            mr.nick_name sellerName,
            mr.phone sellerPhone,
            o.pay_type payType,
            o.order_amount orderAmount,
            o.created_time createOrderTime,
            o.pay_time payTime
        from
        cnt_consignment js
        left join
        cnt_user cs
        on js.send_user_id=cs.id
        left join
        cnt_user mr
        on js.pay_user_id=mr.id
        left join
        cnt_order o
        on js.order_id=o.id
        where js.is_type=#{isType}
        and js.id=#{id}
    </select>

</mapper>
