<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntCustomerServiceMapper">

    <resultMap type="CntCustomerService" id="CntCustomerServiceResult">
        <result property="menuId"    column="menu_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="menuStatus"    column="menu_status"    />
        <result property="articleTitle"    column="article_title"    />
        <result property="articleContent"    column="article_content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCntCustomerServiceVo">
        select menu_id, menu_name, parent_id, order_num, menu_status, article_title, article_content, create_by, create_time, update_by, update_time from cnt_customer_service
    </sql>

    <select id="selectCntCustomerServiceList" parameterType="CntCustomerService" resultMap="CntCustomerServiceResult">
        <include refid="selectCntCustomerServiceVo"/>
        <where>
            <if test="menuName != null  and menuName != ''"> and menu_name like concat('%', #{menuName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="menuStatus != null  and menuStatus != ''"> and menu_status = #{menuStatus}</if>
            <if test="articleTitle != null  and articleTitle != ''"> and article_title = #{articleTitle}</if>
            <if test="articleContent != null  and articleContent != ''"> and article_content = #{articleContent}</if>
        </where>
    </select>

</mapper>
