<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntCateMapper">

    <resultMap type="CntCate" id="CntCateResult">
        <result property="id"    column="id"    />
        <result property="cateType"    column="cate_type"    />
        <result property="cateName"    column="cate_name"    />
        <result property="cateImage"    column="cate_image"    />
        <result property="cateInfo"    column="cate_info"    />
        <result property="bindCreation"    column="bind_creation"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntCateVo">
        select id, cate_type, cate_name, cate_image, cate_info, bind_creation, created_by, created_time, updated_by, updated_time from cnt_cate
    </sql>

    <select id="selectSearchCateList" parameterType="CateQuery" resultMap="CntCateResult">
        <include refid="selectCntCateVo"/>
        <where>
            <if test="cateName != null  and cateName != ''"> and cate_name like concat('%', #{cateName}, '%')</if>
        </where>
        order by created_time desc
    </select>

</mapper>
