<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntCollectionInfoMapper">

    <resultMap type="CntCollectionInfo" id="CntCollectionInfoResult">
        <result property="id"    column="id"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="publishAuther"    column="publish_auther"    />
        <result property="publishOther"    column="publish_other"    />
        <result property="customerTail"    column="customer_tail"    />
        <result property="lookInfo"    column="look_info"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntCollectionInfoVo">
        select id, collection_id, publish_auther, publish_other, customer_tail, look_info, created_by, created_time, updated_by, updated_time from cnt_collection_info
    </sql>

    <select id="selectCollectionRelatedInfoList" parameterType="CollectionInfoQuery" resultType="com.manyun.admin.domain.vo.CntCollectionInfoVo">
        select
            ci.id,
            c.collection_name collectionName,
            ci.publish_other publishOther,
            ci.publish_auther publishAuther,
            ci.look_info lookInfo,
            ci.customer_tail customerTail
        from
            cnt_collection_info ci
        left join
            cnt_collection c
        on ci.collection_id=c.id
        <where>
            <if test="publishOther != null  and publishOther != ''"> and ci.publish_other like concat('%', #{publishOther}, '%')</if>
        </where>
    </select>

</mapper>
