<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntCollectionMapper">

    <resultMap type="CntCollection" id="CntCollectionResult">
        <result property="id"    column="id"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="tarId"    column="tar_id"    />
        <result property="sourcePrice"    column="source_price"    />
        <result property="realPrice"    column="real_price"    />
        <result property="selfBalance"    column="self_balance"    />
        <result property="balance"    column="balance"    />
        <result property="versionFlag"    column="version_flag"    />
        <result property="statusBy"    column="status_by"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="bindCreation"    column="bind_creation"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="cateId"    column="cate_id"    />
        <result property="postTime"    column="post_time"    />
    </resultMap>

    <sql id="selectCntCollectionVo">
        select id, collection_name, tar_id, source_price, real_price, self_balance, balance, version_flag, status_by, publish_time, bind_creation, created_by, created_time, updated_by, updated_time, cate_id, post_time from cnt_collection
    </sql>

    <select id="selectSearchCollectionList" parameterType="CollectionQuery" resultMap="CntCollectionResult">
        <include refid="selectCntCollectionVo"/>
        <where>
            <if test="id != null and id != ''"> and id = #{id}</if>
            <if test="collectionName != null  and collectionName != ''"> and collection_name like concat('%', #{collectionName}, '%')</if>
            <if test="statusBy != null "> and status_by = #{statusBy}</if>
        </where>
        order by created_time desc
    </select>

    <select id="selectCntCollectionDetailsById" resultType="com.manyun.admin.domain.vo.CntCollectionDetailsVo">
        select
            cp.id,
            cp.cate_id cateId,
            cp.collection_name collectionName,
            cp.source_price sourcePrice,
            cp.real_price realPrice,
            cp.tar_id,
            cp.post_time,
            cp.bind_creation bindCreation,
            cpxq.publish_other publishOther,
            cpxq.publish_auther publishAuther,
            cp.publish_time publishTime,
            cp.balance balance,
            cp.self_balance selfBalance,
            cp.status_by,
            cpxq.customer_tail customerTail,
            cpxq.look_info lookInfo,
			ci.id	issuanceId
        from
	        cnt_collection cp
        left join
	        cnt_collection_info cpxq
	    on
	        cp.id=cpxq.collection_id
		left join
				cnf_issuance ci
		on
	        cpxq.publish_id=ci.id
	    where cp.id = #{id}
    </select>

    <update id="updateLock">
        update cnt_collection set balance =  balance - #{sellNum} ,self_balance =  self_balance + #{sellNum} WHERE id = #{id} and balance >=#{sellNum};
    </update>
</mapper>
