<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntFeedbackMapper">

    <resultMap type="CntFeedback" id="CntFeedbackResult">
        <result property="id"    column="id"    />
        <result property="feedbackUserId"    column="feedback_user_id"    />
        <result property="feedbackUserName"    column="feedback_user_name"    />
        <result property="feedbackUserPhone"    column="feedback_user_phone"    />
        <result property="linkAddr"    column="link_addr"    />
        <result property="feedbackType"    column="feedback_type"    />
        <result property="feedbackContent"    column="feedback_content"    />
        <result property="feedbackImg"    column="feedback_img"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCntFeedbackVo">
        select id, feedback_user_id, feedback_user_name, feedback_user_phone, link_addr, feedback_type, feedback_content, feedback_img, created_by, created_time, updated_by, updated_time, status from cnt_feedback
    </sql>

    <select id="selectCntFeedbackList" parameterType="FeedbackQuery" resultMap="CntFeedbackResult">
        <include refid="selectCntFeedbackVo"/>
        <where>
            <if test="feedbackUserPhone != null  and feedbackUserPhone != ''"> and feedback_user_phone = #{feedbackUserPhone}</if>
        </where>
        order by created_time desc
    </select>

</mapper>
