<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntFeedbackMapper">

    <resultMap type="CntFeedback" id="CntFeedbackResult">
        <result property="id"    column="id"    />
        <result property="feedbackUserId"    column="feedback_user_id"    />
        <result property="feedbackUserName"    column="feedback_user_name"    />
        <result property="feedbackUserPhone"    column="feedback_user_phone"    />
        <result property="linkAddr"    column="link_addr"    />
        <result property="feedbackType"    column="feedback_type"    />
        <result property="feedbackContent"    column="feedback_content"    />
        <result property="feedbackImg"    column="feedback_img"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCntFeedbackVo">
        select id, feedback_user_id, feedback_user_name, feedback_user_phone, link_addr, feedback_type, feedback_content, feedback_img, created_by, created_time, updated_by, updated_time, status from cnt_feedback
    </sql>

    <select id="selectCntFeedbackList" parameterType="CntFeedback" resultMap="CntFeedbackResult">
        <include refid="selectCntFeedbackVo"/>
        <where>
            <if test="feedbackUserId != null  and feedbackUserId != ''"> and feedback_user_id = #{feedbackUserId}</if>
            <if test="feedbackUserName != null  and feedbackUserName != ''"> and feedback_user_name like concat('%', #{feedbackUserName}, '%')</if>
            <if test="feedbackUserPhone != null  and feedbackUserPhone != ''"> and feedback_user_phone = #{feedbackUserPhone}</if>
            <if test="linkAddr != null  and linkAddr != ''"> and link_addr = #{linkAddr}</if>
            <if test="feedbackType != null  and feedbackType != ''"> and feedback_type = #{feedbackType}</if>
            <if test="feedbackContent != null  and feedbackContent != ''"> and feedback_content = #{feedbackContent}</if>
            <if test="feedbackImg != null  and feedbackImg != ''"> and feedback_img = #{feedbackImg}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by created_time desc
    </select>

</mapper>
