<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntMediaMapper">

    <select id="initMediaVos" resultType="com.manyun.admin.domain.vo.MediaVo">
        select
        id,
        bui_id as buiId,
        model_type as modelType,
        media_url as mediaUrl,
        media_type as mediaType
        from
        cnt_media
        <where>
            <if test="modelType != null  and modelType != ''"> and model_type = #{modelType}</if>
            <if test="buiId != null  and buiId != ''"> and bui_id = #{buiId}</if>
        </where>
    </select>

</mapper>
