<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntOrderMapper">

    <resultMap type="CntOrder" id="CntOrderResult">
        <result property="id"    column="id"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="goodsNum"    column="goods_num"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="buiId"    column="bui_id"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="payType"    column="pay_type"    />
        <result property="orderAmount"    column="order_amount"    />
        <result property="endTime"    column="end_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="collectionName"    column="collection_name"    />
    </resultMap>

    <sql id="selectCntOrderVo">
        select id, created_by, created_time, updated_by, updated_time, goods_num, order_no, user_id, bui_id, goods_type, order_status, pay_type, order_amount, end_time, pay_time, collection_name from cnt_order
    </sql>

    <select id="myOrderList" resultType="com.manyun.admin.domain.vo.CntOrderVo">
        SELECT
            co.id,
            co.order_no orderNo,
            cu.nick_name nickName,
            cu.phone,
            co.collection_name collectionName,
            co.goods_type goodsType,
            co.goods_num goodsNum,
            co.order_status orderStatus,
            co.pay_type payType,
            co.order_amount orderAmount,
            co.pay_time payTime,
            co.created_time createdTime,
            co.updated_time updatedTime
        FROM
	        cnt_order co
	    INNER JOIN
	        cnt_user cu
	    ON
	        co.user_id = cu.user_id
	    where
	        co.user_id=#{userId}
    </select>

</mapper>
