<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntOrderMapper">

    <resultMap type="CntOrder" id="CntOrderResult">
        <result property="id"    column="id"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="goodsNum"    column="goods_num"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="buiId"    column="bui_id"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="payType"    column="pay_type"    />
        <result property="orderAmount"    column="order_amount"    />
        <result property="endTime"    column="end_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="collectionName"    column="collection_name"    />
    </resultMap>

    <sql id="selectCntOrderVo">
        select id, created_by, created_time, updated_by, updated_time, goods_num, order_no, user_id, bui_id, goods_type, order_status, pay_type, order_amount, end_time, pay_time, collection_name from cnt_order
    </sql>

    <select id="myOrderList" resultType="com.manyun.admin.domain.vo.CntOrderVo">
        select
            co.id,
            co.user_bui_id userBuiId,
            co.order_no orderno,
            cu.nick_name nickname,
            cu.phone,
            co.bui_id buiId,
            co.collection_name collectionname,
            co.goods_type goodstype,
            co.goods_num goodsnum,
            co.order_status orderstatus,
            co.pay_type paytype,
            co.order_amount orderamount,
            co.pay_time paytime,
            co.created_time createdtime,
            co.updated_time updatedtime
        from
	        cnt_order co
	    inner join
	        cnt_user cu
	    on
	        co.user_id = cu.id
	    where
	        co.user_id=#{userid}
	    order by co.created_time desc
    </select>

    <select id="validOrderAddStatistics" resultType="com.manyun.admin.domain.vo.ValidOrderAddStatisticsVo">
        select
            a.date,
            ifnull( b.count, 0 ) as count
        from
        (
        select
            date_sub( curdate(), interval 6 day ) as date union all
        select
            date_sub( curdate(), interval 5 day ) as date union all
        select
            date_sub( curdate(), interval 4 day ) as date union all
        select
            date_sub( curdate(), interval 3 day ) as date union all
        select
            date_sub( curdate(), interval 2 day ) as date union all
        select
            date_sub( curdate(), interval 1 day ) as date union all
        select
            curdate() as date
        ) a
        left join ( select date( created_time ) as datetime, count( id ) as count from cnt_order where order_status=1 group by date( created_time ) ) b on a.date = b.datetime;
    </select>

    <select id="orderAmountsAddStatistics" resultType="com.manyun.admin.domain.vo.OrderAmountsAddStatisticsVo">
        select
            a.date,
            ifnull( b.orderAmounts, 0.00) as orderAmounts
        from
	    (
	    select
		    date_sub( curdate(), interval 6 day ) as date union all
	    select
		    date_sub( curdate(), interval 5 day ) as date union all
	    select
		    date_sub( curdate(), interval 4 day ) as date union all
	    select
		    date_sub( curdate(), interval 3 day ) as date union all
	    select
		    date_sub( curdate(), interval 2 day ) as date union all
	    select
		    date_sub( curdate(), interval 1 day ) as date union all
	    select
		    curdate() as date
	    ) a
	    left join ( select date( created_time ) as datetime, sum(order_amount) as orderAmounts from cnt_order where order_status=1 group by date( created_time ) ) b on a.date = b.datetime;
    </select>

    <select id="orderTypePercentageList" resultType="com.manyun.admin.domain.vo.OrderTypePercentageVo">
        select
            order_status as orderstatus,
            count( order_status ) as totaltypepercentages
        from
	        cnt_order
        group by
	        order_status;
    </select>

</mapper>
