<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntPostSellMapper">

    <resultMap type="CntPostSell" id="CntPostSellResult">
        <result property="id"    column="id"    />
        <result property="buiId"    column="bui_id"    />
        <result property="configId"    column="config_id"    />
        <result property="buiName"    column="bui_name"    />
        <result property="isType"    column="is_type"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntPostSellVo">
        select id, bui_id, config_id, bui_name, is_type, created_by, created_time, updated_by, updated_time from cnt_post_sell
    </sql>

</mapper>
