<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntPostExcelMapper">

    <resultMap type="CntPostExcel" id="CntPostExcelResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="phone"    column="phone"    />
        <result property="buiId"    column="bui_id"    />
        <result property="buiName"    column="bui_name"    />
        <result property="buyFrequency"    column="buy_frequency"    />
        <result property="typeName"    column="type_name"    />
        <result property="reMark"    column="re_mark"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntPostExcelVo">
        select id, user_id, phone, bui_id, bui_name, buy_frequency, type_name, re_mark, created_by, created_time, updated_by, updated_time from cnt_post_excel
    </sql>

    <select id="selectCntPostExcelList" parameterType="PostExcelQuery" resultMap="CntPostExcelResult">
        <include refid="selectCntPostExcelVo"/>
        <where>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
        order by created_time desc
    </select>

</mapper>
