<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntTarMapper">

    <resultMap type="CntTar" id="CntTarResult">
        <result property="id"    column="id"    />
        <result property="tarPro"    column="tar_pro"    />
        <result property="endFlag"    column="end_flag"    />
        <result property="openTime"    column="open_time"    />
        <result property="tarType"    column="tar_type"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntTarVo">
        select id, tar_pro, end_flag, open_time, tar_type, created_by, created_time, updated_by, updated_time from cnt_tar
    </sql>

    <select id="selectCntTarList" parameterType="CntTarQuery" resultMap="CntTarResult">
        <include refid="selectCntTarVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="endFlag != null "> and end_flag = #{endFlag}</if>
            <if test="tarType != null "> and tar_type = #{tarType}</if>
        </where>
        order by created_time desc
    </select>

</mapper>
