<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntUserMapper">

    <resultMap type="CntUser" id="CntUserResult">
        <result property="id"    column="id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="phone"    column="phone"    />
        <result property="linkAddr"    column="link_addr"    />
        <result property="isReal"    column="is_real"    />
        <result property="pleaseCode"    column="please_code"    />
        <result property="parentId"    column="parent_id"    />
        <result property="userInfo"    column="user_info"    />
        <result property="userId"    column="user_id"    />
        <result property="headImage"    column="head_image"    />
        <result property="loginPass"    column="login_pass"    />
        <result property="payPass"    column="pay_pass"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCntUserVo">
        select id, nick_name, phone, link_addr, is_real, please_code, parent_id, user_info, user_id, head_image, login_pass, pay_pass, created_by, created_time, updated_by, updated_time, status from cnt_user
    </sql>

    <select id="selectCntUserList" parameterType="CntUser" resultMap="CntUserResult">
        <include refid="selectCntUserVo"/>
        <where>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="linkAddr != null  and linkAddr != ''"> and link_addr = #{linkAddr}</if>
            <if test="isReal != null "> and is_real = #{isReal}</if>
            <if test="pleaseCode != null  and pleaseCode != ''"> and please_code = #{pleaseCode}</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="userInfo != null  and userInfo != ''"> and user_info = #{userInfo}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="headImage != null  and headImage != ''"> and head_image = #{headImage}</if>
            <if test="loginPass != null  and loginPass != ''"> and login_pass = #{loginPass}</if>
            <if test="payPass != null  and payPass != ''"> and pay_pass = #{payPass}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectCntUserById" parameterType="String" resultMap="CntUserResult">
        <include refid="selectCntUserVo"/>
        where id = #{id}
    </select>

    <select id="selectUserMoneyList" resultType="com.manyun.admin.domain.vo.UserMoneyVo">
        select
            u.id,
            u.status,
            u.nick_name nickName,
            u.phone,
            m.real_phone realPhone,
            m.real_name realName,
            m.cart_just cartJust,
            m.cart_back cartBack,
            m.bank_name bankName,
            m.bank_cart bankCart,
            m.bank_open bankOpen,
            m.created_time createdTime
        from
            cnt_user u
        inner join cnt_money m on u.id = m.user_id
        <where>
            <if test="realName != null  and realName != ''"> and m.real_name like concat('%', #{realName}, '%')</if>
            <if test="realPhone != null  and realPhone != ''"> and m.real_phone = #{realPhone}</if>
        </where>
    </select>


    <select id="myCollectionList" resultType="com.manyun.admin.domain.vo.UserCollectionVo">
        SELECT
            id,
            collection_id collectionId,
            collection_name collectionName,
            collection_number collectionNumber,
            collection_hash collectionHash,
            link_addr linkAddr,
            is_link isLink,
            source_info sourceInfo,
            real_company realCompany,
            created_time createdTime
        FROM
        cnt_user_collection
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
        order by created_time desc
    </select>


    <insert id="insertCntUser" parameterType="CntUser">
        insert into cnt_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="phone != null">phone,</if>
            <if test="linkAddr != null">link_addr,</if>
            <if test="isReal != null">is_real,</if>
            <if test="pleaseCode != null and pleaseCode != ''">please_code,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="userInfo != null">user_info,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="headImage != null">head_image,</if>
            <if test="loginPass != null">login_pass,</if>
            <if test="payPass != null">pay_pass,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="updatedTime != null">updated_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="linkAddr != null">#{linkAddr},</if>
            <if test="isReal != null">#{isReal},</if>
            <if test="pleaseCode != null and pleaseCode != ''">#{pleaseCode},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="userInfo != null">#{userInfo},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="headImage != null">#{headImage},</if>
            <if test="loginPass != null">#{loginPass},</if>
            <if test="payPass != null">#{payPass},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateCntUser" parameterType="CntUser">
        update cnt_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="linkAddr != null">link_addr = #{linkAddr},</if>
            <if test="isReal != null">is_real = #{isReal},</if>
            <if test="pleaseCode != null and pleaseCode != ''">please_code = #{pleaseCode},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="userInfo != null">user_info = #{userInfo},</if>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="headImage != null">head_image = #{headImage},</if>
            <if test="loginPass != null">login_pass = #{loginPass},</if>
            <if test="payPass != null">pay_pass = #{payPass},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCntUserById" parameterType="String">
        delete from cnt_user where id = #{id}
    </delete>

    <delete id="deleteCntUserByIds" parameterType="String">
        delete from cnt_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
