<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntUserCollectionMapper">

    <resultMap type="CntUserCollection" id="CntUserCollectionResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="collectionId"    column="collection_id"    />
        <result property="collectionName"    column="collection_name"    />
        <result property="collectionNumber"    column="collection_number"    />
        <result property="collectionHash"    column="collection_hash"    />
        <result property="linkAddr"    column="link_addr"    />
        <result property="isLink"    column="is_link"    />
        <result property="sourceInfo"    column="source_info"    />
        <result property="isExist"    column="is_exist"    />
        <result property="realCompany"    column="real_company"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectCntUserCollectionVo">
        select id, user_id, collection_id, collection_name, collection_number, collection_hash, link_addr, is_link, source_info, is_exist, real_company, created_by, created_time, updated_by, updated_time from cnt_user_collection
    </sql>

    <select id="myCollectionList" resultType="com.manyun.admin.domain.vo.UserCollectionVo">
        select
            cuc.id,
            cuc.collection_id collectionid,
            cu.nick_name nickname,
            cu.phone phone,
            cuc.collection_name collectionname,
            cuc.collection_number collectionnumber,
            cuc.collection_hash collectionhash,
            cuc.link_addr linkaddr,
            cuc.is_link islink,
            cuc.source_info sourceinfo,
            cuc.real_company realcompany,
            cuc.created_time createdtime,
            cuc.updated_time updatedtime
        from
            cnt_user_collection cuc
        inner join
            cnt_user cu
        on
            cuc.user_id=cu.user_id
        where
            cuc.user_id=#{userid}
            order by cuc.created_time desc
    </select>

    <select id="myChainxList" resultType="com.manyun.admin.domain.vo.MyChainxVo">
        select
            cuc.id,
            cuc.user_id,
            cu.nick_name nickname,
            cu.phone phone,
            cuc.collection_id collectionid,
            cuc.collection_name collectionname,
            cuc.source_info sourceinfo,
            cuc.collection_hash collectionhash
        from
            cnt_user_collection cuc
        inner join
            cnt_user cu
        on
            cuc.user_id=cu.user_id
        where
            cuc.is_link=1
            order by cuc.created_time desc
    </select>

</mapper>
