<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.admin.mapper.CntUserMapper">

    <resultMap type="CntUser" id="CntUserResult">
        <result property="id"    column="id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="phone"    column="phone"    />
        <result property="linkAddr"    column="link_addr"    />
        <result property="isReal"    column="is_real"    />
        <result property="pleaseCode"    column="please_code"    />
        <result property="parentId"    column="parent_id"    />
        <result property="userInfo"    column="user_info"    />
        <result property="userId"    column="user_id"    />
        <result property="headImage"    column="head_image"    />
        <result property="loginPass"    column="login_pass"    />
        <result property="payPass"    column="pay_pass"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="updatedTime"    column="updated_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCntUserVo">
        select id, nick_name, phone, link_addr, is_real, please_code, parent_id, user_info, user_id, head_image, login_pass, pay_pass, created_by, created_time, updated_by, updated_time, status from cnt_user
    </sql>

    <select id="selectUserMoneyList" parameterType="UserMoneyQuery" resultType="com.manyun.admin.domain.vo.UserMoneyVo">
        select
            u.id,
            u.status,
            u.nick_name nickName,
            u.phone,
            m.real_name realName,
            m.cart_just cartJust,
            m.cart_back cartBack,
            m.bank_name bankName,
            m.bank_cart bankCart,
            m.bank_open bankOpen,
            m.created_time createdTime
        from
            cnt_user u
        inner join cnt_money m on u.id = m.user_id
        <where>
            <if test="realName != null  and realName != ''"> and m.real_name like concat('%', #{realName}, '%')</if>
            <if test="phone != null  and phone != ''"> and u.phone = #{phone}</if>
        </where>
    </select>

</mapper>
