<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manyun.business.mapper.UserCollectionMapper">

    <resultMap id="baseMap" type="com.manyun.business.domain.vo.UserCollectionVo">
        <id column="id" property="id"/>
        <result property="collectionId" column="collection_id"/>
        <result property="collectionNumber" column="collection_number"/>
        <result property="collectionHash" column="collection_hash"/>
        <result property="linkAddr" column="link_addr"/>
        <result property="isLink" column="is_link"/>
        <result property="sourceInfo" column="source_info"/>
        <result property="realCompany" column="real_company"/>
        <result property="collectionName" column="collection_name"/>
        <result property="createdTime" column="created_time"/>
        <association property="cnfCreationdVo" javaType="com.manyun.business.domain.vo.CnfCreationdVo">
            <id property="id" column="c_id"/>
            <result property="headImage" column="head_image"/>
            <result property="creationName" column="creation_name"/>
            <result property="creationInfo" column="creation_info"/>
        </association>

        <association property="cateVo" javaType="com.manyun.business.domain.vo.CateVo">
            <id property="id" column="ct_id"/>
            <result property="cateName" column="cate_name"/>
            <result property="cateImage" column="cate_image"/>
            <result property="cateInfo" column="cate_info"/>
            <result property="bindCreation" column="bind_creation"/>
            <result property="createdTime" column="ct_created_time"/>

        </association>
    </resultMap>


    <select id="userCollectionPageList" resultMap="baseMap">
        SELECT
        uc.id,
        uc.collection_id,
        uc.collection_number,
        uc.collection_hash,
        uc.link_addr,
        uc.is_link,
        uc.source_info,
        uc.real_company,
        uc.collection_name,
        uc.created_time,
        cr.id c_id,
        cr.head_image,
        cr.creation_name,
        cr.creation_info,
        ca.id ct_id,
        ca.cate_name,
        ca.cate_image,
        ca.cate_info,
        ca.bind_creation,
        ca.created_time ct_created_time
        FROM
        cnt_user_collection AS uc
        LEFT JOIN cnt_collection AS co ON uc.collection_id = co.id
        LEFT JOIN cnf_creationd AS cr ON cr.id = co.bind_creation
        LEFT JOIN cnt_cate AS ca ON ca.id = co.cate_id
            <where>
        <if test="userId != null">
            uc.user_id = #{userId}
        </if>
    </where>
    order by uc.created_time desc
    </select>


    <select id="selectUserCollectionCount" resultType="com.manyun.business.domain.dto.UserCollectionCountDto">
        select
        collection_id as collectionId,
        count( collection_id ) as count
        from
        cnt_user_collection
        where
        user_id = #{userId}
        and collection_id in
        <foreach close=")" collection="collectionIds" item="collectionId" open="(" separator=",">
            #{collectionId}
        </foreach>
        group by
        collection_id
    </select>

    <delete id="deleteMaterial">
        delete from
            cnt_user_collection
        where
            user_id = #{userId}
            and collection_id = #{collectionId}
            limit #{deleteNum}
    </delete>

</mapper>
